{% extends "base.html" %}
{% load static %}

{% block title %}Blog - Home{% endblock %}

{%block content%}

		<section class="about-banner relative">
			<div class="overlay overlay-bg"></div>
			<div class="container">
				<div class="row d-flex align-items-center justify-content-center">
					<div class="about-content col-lg-12">
						<img src="{% static 'img/logo.png' %}" alt="My Blog" class="banner-logo">
						<h1 class="text-white">
							Blog Home
						</h1>
						<p class="text-white link-nav"><a href="{% url 'blog:blog' %}">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="{% url 'blog:blog' %}"> Blog Home</a></p>
					</div>
				</div>
			</div>
		</section>

		<section class="post-content-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 posts-list">

						{% for post in posts %}
						<div class="single-post row">
							<div class="col-lg-3 col-md-3 meta-details">
								<ul class="tags">
									{% for cat in post.category.all %}
									<li><a href="#">{{ cat.name }}</a></li>
									{% empty %}
									<li><a href="#">Uncategorized</a></li>
									{% endfor %}
								</ul>
								<div class="user-details row">
									<p class="user-name col-lg-12 col-md-12 col-6">
										<a href="#">{{ post.author.username|default:"Unknown" }}</a>
										<span class="lnr lnr-user"></span>
									</p>
									<p class="date col-lg-12 col-md-12 col-6">
										<a href="#">{{ post.published_date|date:"d M, Y" }}</a>
										<span class="lnr lnr-calendar-full"></span>
									</p>
									<p class="view col-lg-12 col-md-12 col-6">
										<a href="#">{{ post.counted_views }} Views</a>
										<span class="lnr lnr-eye"></span>
									</p>
								</div>
							</div>
							<div class="col-lg-9 col-md-9">
								{% if post.image %}
								<div class="thumb mb-3">
									<img class="img-fluid" src="{{ post.image.url }}" alt="{{ post.title }}">
								</div>
								{% endif %}

								<a class="posts-title" href="{% url 'blog:single' post.id %}">										<h3>{{ post.title }}</h3>
								</a>

								<p class="excert">
									{{ post.content|truncatechars:100}}
								</p>

								<a href="{% url 'blog:single' post.id %}" class="primary-btn">View More</a>
							</div>
						</div>
						{% empty %}
							<p style="padding: 20px;">No posts published yet.</p>
						{% endfor %}

                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">
                                            <span class="lnr lnr-chevron-left"></span>
                                        </span>
                                    </a>
                                </li>
                                <li class="page-item"><a href="#" class="page-link">01</a></li>
                                <li class="page-item active"><a href="#" class="page-link">02</a></li>
                                <li class="page-item"><a href="#" class="page-link">03</a></li>
                                <li class="page-item"><a href="#" class="page-link">04</a></li>
                                <li class="page-item"><a href="#" class="page-link">09</a></li>
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Next">
                                        <span aria-hidden="true">
                                            <span class="lnr lnr-chevron-right"></span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
					</div>
					<div class="col-lg-4 sidebar-widgets">
						<div class="widget-wrap">
							<div class="single-sidebar-widget search-widget">
								<form class="search-form" action="#">
			                            <input placeholder="Search Posts" name="search" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Posts'" >
			                            <button type="submit"><i class="fa fa-search"></i></button>
			                        </form>
							</div>

							{% include 'blog/author.html' %}

							<div class="single-sidebar-widget post-category-widget">
								<h4 class="category-title">Post Categories</h4>
								<ul class="cat-list">
									{% for cat in categories %}
									<li>
										<a href="#" class="d-flex justify-content-between">
											<p>{{ cat.name }}</p>
											<p>{{ cat.post_count }}</p>
										</a>
									</li>
									{% empty %}
									<li><p>No categories yet</p></li>
									{% endfor %}
								</ul>
							</div>
							<div class="single-sidebar-widget tag-cloud-widget">
								<h4 class="tagcloud-title">Tag Clouds</h4>
								<ul>
									<li><a href="#">Technology</a></li>
									<li><a href="#">Fashion</a></li>
									<li><a href="#">Architecture</a></li>
									<li><a href="#">Fashion</a></li>
									<li><a href="#">Food</a></li>
									<li><a href="#">Technology</a></li>
									<li><a href="#">Lifestyle</a></li>
									<li><a href="#">Art</a></li>
									<li><a href="#">Adventure</a></li>
									<li><a href="#">Food</a></li>
									<li><a href="#">Lifestyle</a></li>
									<li><a href="#">Adventure</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		{% endblock %}